<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Dashboard {{name}}</h1>
    <hr>
    <h3><u>Albums</u></h3>
    {% for album in jinjalbums %}
        <h4>{{album.album_name}}
        --<a href="/update_album/{{album.a_id}}">Edit</a>
        ---<a href="/delete_album/{{album.a_id}}">Delete</a> </h4>
    {% endfor %}
         
    <a href="/create_album"><h4>Create album</h4></a>
    <hr>
     <h3><u>Songs</u></h3>
    {% for song in jinjasongs %}
        <h4>{{song.song_name}} by {{song.singer_name}}</h4>
    {% endfor %}   
    <a href="/create_song"><h4>Create song</h4></a>
    <hr>
</body>
</html>