<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h1>Create song</h1>
    <form action="/create_song" method="post">
        <input type="text" placeholder="Song Name" name="songname" required><br>
        <input type="text" placeholder="Singer" name="singername" required><br>
        <input type="text" placeholder="Albumid" name="albumid" required><br>
        <input type="submit" value="Submit">
    </for
</body>
</html>